# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2026 sigmacatch contributors

# Rust
/target/

# application
*.log
config.yaml
/sigma/
regression_data/
evtx_logs/
logs/
rdp.sh
windows_output/

# internal
_bmad/
bmad_output/
AGENTS.md
